/* Start of CSS Document */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    float: right;
}

ul li {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
}

ul li a {
    display: block;
    text-decoration: none;
    color:gray;
    font-size: 15px;
}

#logo_top{
    float: left;
    display: block;
    margin-left: 0;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    height: 50px;
    width: 50px;
}

#logo_middle{
    display: inline;
}

h1{
    display: inline;
}

div{
    clear:both;
}

.nav_item{
    float: right;
}

/*
nav{
    display: flex;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: auto;
    background-color: red;
}

img{
    
    margin-right: 10%;
    margin-left: 0%;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    height: 10%;
    width: 10%;
    
    background-color: red;
}
*/



/* End of CSS Document */