/* Start of CSS Document */

body {
    font-family: "Lato", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    float: right;
}

ul li {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
}

ul li a {
    display: block;
    text-decoration: none;
    color:gray;
    font-size: 15px;
}

#logo_top{
    float: left;
    display: block;
    margin-left: 0;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    height: 50px;
    width: 50px;
}

header div img{
    display: inline-block;
    height: 10%;
    width: 10%;
}

#vista_logo
{
    height: 15%;
    width: 15%;
    margin-right: 20%;
}

header div h1{
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: black;
    font-family: sans-serif;
}

#otherHeaders{
    color: #00401F;
    font-weight: 400;
    font-style: normal;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;                
    clear:both;
}


#logo_middle{
    margin-left: 20%;
}

#subheader{
    display: inline-block;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #EAEAEA;
}

#subheader p{
    line-height: 1.5;
}

#description{
    display: inline-block;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 5vw;
    padding-left: 5vw;
    align-items: left;
    justify-content: left;
    font-size: 1.5vw;
    background-color: #00401F;
    color: white;
}

#description a{
    text-decoration: underline;
    color: white;
}

#description p{
    line-height: 2;
}

#red{
    color: red;
}

#eventDescriptionsTitle
{
    display: inline-block;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2vw;
}

.container .flex_img{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    width: 20vw;
    height: auto;
}

iframe{
    border: none;
    width: 100vw;
    height: 50vh;
}

/* End of CSS Document */