/* Start of CSS Document */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
 
}

ul li a {
  display: block;
  color: white;
  padding: 2vh 2vw;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#logo{
    float: left;
    display: block;
    margin-left: 0;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    height: 5%;
    width: 5%;
}

.nav_item{
    float: right;
}

/*
nav{
    display: flex;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: auto;
    background-color: red;
}

img{
    
    margin-right: 10%;
    margin-left: 0%;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    height: 10%;
    width: 10%;
    
    background-color: red;
}
*/



/* End of CSS Document */